<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Todo App View from Node.js</title>
    <link href="public/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="public/font/fontawesome/web-fonts-with-css/css/fontawesome-all.css">
    <!-- recommended because angular.module can only be compiled after the library has been loaded -->
    <script src="AngularJS/angular.js"></script> 
</head>
<body>
  <div ng-app="todoApp" ng-controller="todoCtrl">
    <div id="todo-table">
        <form>
            <input type="text" ng-model="itemname" placeholder="Add new item..." />
            <button ng-click="push()">Add Item</button>
        </form>
        <ul>
            <li ng-repeat="x in stores">
                    {{ x.name }}
            </li>
        </ul>
    </div>
  </div>  
</body>
<script>
    var todo = angular.module("todoApp", []);
    
    todo.controller("todoCtrl", ($scope) => {
        $scope.stores=[
            {name:"Samsung Gear VR"},
            {name:"HP Envy Laptop"}
        ];
        $scope.itemname = '';
        $scope.push = ()=>{
            $scope.stores.push({name:$scope.itemname});
        }
    })
</script>
</html>