<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/font/fontawesome/web-fonts-with-css/css/fontawesome-all.css">
</head>
<body>
    <div id="todo-table">
        <form>
            <input type="text" id="itemName" placeholder="Add new item..." required/>
            <button id="btn" type="submit">Add Item</button>
        </form>
        <ul>
            <% for(x in todos){ %>
                <li id="delete"><%= todos[x].item %><i class="fa fa-trash" onclick="del()"></i></li>
                <input type="hidden" id="hide" value="<%= todos[x]._id %>"/>
            <%}%>
        </ul>
    </div>
</body>
<script src="/jquery/jquery-3.2.1.min.js"></script>
<script src="/js/todo-list.js"></script>
</html>